.sub-heading {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    /* Creates the black line */
    padding: 10px;
    /* Adds padding for spacing */
    font-weight: bold;
    /* Makes the text bold */
    margin-bottom: 5px;
    justify-content: space-between;
}

#legend {
    width: 50%;
}

.room-box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    aspect-ratio: 1 / 1;
    border: none;
    /* Ensures a 1:1 aspect ratio */
}

.in-box {
    display: flex;
    width: 95%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px 5px rgba(169, 128, 232, 0.16);
    border-radius: 10px;
}

.empty {
    background: rgba(255, 255, 255, 1);
}

.half {
    background: #0dcd7092;
}

.full {
    background: rgba(169, 128, 232, 0.75);
}

.indexColor {
    height: 90%;
    margin: auto;
    aspect-ratio: 1/1;
    float: right;
}

.navbar .col-11 .row .col .border {
    padding: 10px;
}

h6 {
    padding: 2px;
    padding-left: 5px;
    font-size: clamp(12px, 2vw, 16px);
    /* Responsive font size */
    margin-bottom: 0 !important;
}

p {
    padding: 2px;
    /* Adjust padding as needed */
    padding-left: 5px;
    font-size: clamp(12px, 2vw, 16px);
    /* Responsive font size */
    margin-bottom: 0 !important;
}

.heading-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-with-image img {
    width: 1em;
    /* Matches the font size of the heading */
    height: 1em;
    /* Matches the font size of the heading */
    margin-right: 5px;
    /* Space between image and heading */
}

#below_nav {
    margin-bottom: 10px;
}