.ccba-designs-bajaj-institute-o-icon,
.content-child {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
}
.ccba-designs-bajaj-institute-o-icon {
  height: 746.7px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.content-child {
  height: calc(100% - 32.3px);
  bottom: 32.3px;
  background-color: rgba(191, 165, 232, 0.15);
  z-index: 1;
}
.home {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  min-width: 103px;
  cursor: pointer;
  z-index: 2;
}
.home-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
}
.about {
  display: inline-block;
  min-width: 102px;
}
.about,
.admission,
.vacancy {
  text-decoration: none;
  position: relative;
  font-weight: 300;
  color: inherit;
  cursor: pointer;
  z-index: 2;
}
.about-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.frame-child {
  height: 37px;
  width: 123px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
}
.register {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-thistle-100);
  text-align: left;
  display: inline-block;
  min-width: 86px;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-9xs) var(--padding-mid) var(--padding-8xs)
    var(--padding-xl);
  background-color: var(--color-gray-300);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.frame-item,
.rectangle-group:hover,
.rectangle-parent:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.frame-item {
  height: 37px;
  width: 123px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-white);
  display: none;
}
.login1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-thistle-100);
  text-align: left;
  display: inline-block;
  min-width: 59px;
  cursor: pointer;
  z-index: 1;
}
.rectangle-group {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-9xs) var(--padding-12xl) var(--padding-8xs)
    var(--padding-14xl);
  background-color: var(--color-gray-300);
  border-radius: var(--br-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.about-admission,
.login,
.rectangle-group {
  display: flex;
  flex-direction: row;
}
.login {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
}
.about-admission {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.hostel-management-system,
.your-home-away {
  align-self: stretch;
  position:relative;
  z-index: 2;
}
.hostel-management-system {
    margin: 0;
    height: auto;
    font-size: inherit;
    font-weight: 800;
    font-family: inherit;
    display: inline-block;
    white-space: nowrap;
    }

.your-home-away {
  font-weight: 200;
}
.apply-container-child {
  height: 53px;
  width: 233px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-thistle-300);
  display: none;
}
.apply-for-hostel {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  z-index: 3;
}
.apply-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-5xl) var(--padding-mini)
    var(--padding-10xl);
  background-color: var(--color-thistle-300);
  width: 233px;
  border-radius: var(--br-11xl);
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.apply-container:hover {
  background-color: rgba(194, 179, 217, 0.48);
}
.apply-button,
.apply-container,
.hostel-amenities {
  display: flex;
  align-items: flex-start;
}
.apply-button {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-15xl);
}
.hostel-amenities {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.hostel-description {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: 14px;
}
.hostel-description,
.hostel-header,
.hostel-header-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hostel-header {
  width: 476px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.hostel-header-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-30xl);
  box-sizing: border-box;
}
.hostels {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 200;
  font-family: inherit;
  z-index: 2;
}
.empty-hostel-option {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 22px;
  z-index: 2;
}
.hostel-options,
.option-placeholder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.option-placeholder {
  flex-direction: row;
  padding: 0 var(--padding-43xl) 0 var(--padding-42xl);
}
.hostel-options {
  width: 145px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-inner {
  width: 1px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  z-index: 2;
}
.hostel-navigation-inner {
  height: 98px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 4.5px;
  box-sizing: border-box;
}
.empty-room-option,
.rooms {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rooms {
  margin: 0;
  font-size: inherit;
  font-weight: 200;
  font-family: inherit;
  min-width: 126px;
}
.empty-room-option {
  font-weight: 700;
  min-width: 60px;
}
.room-placeholder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-13xl);
}
.room-option,
.room-option-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.room-option {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.room-option-wrapper {
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) var(--padding-8xs) 0;
}
.hostelers,
.line-div {
  position: relative;
  z-index: 2;
}
.line-div {
  height: 94.5px;
  width: 1px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hostelers {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 200;
  font-family: inherit;
}
.empty-hostelers-option {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.hostelers-placeholder {
  flex-direction: row;
  padding: 0 var(--padding-39xl) 0 59px;
}
.hostelers-parent,
.hostelers-placeholder,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hostelers-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.line-parent {
  width: 260px;
  flex-direction: row;
  gap: 71px;
}
.hostel-navigation {
  width: 864px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.content,
.hostel-types {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.hostel-types {
  width: 1108px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-17xl);
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-30xl) 71px 63.7px;
  position: relative;
  gap: 159px;
  min-height: 779px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.about1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.about-hostel {
  width: 1014px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.boys-image-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(1.125);
}