
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background-color: #DCCDF3 !important;

    }

    .form-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: fit-content;
      padding: 20px;
      width: 100%;
      max-width: 100%;
    }

    .form-wrapper {
      width: 100%;
    }

    form {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 100%;
      margin-top: 80px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .date-row {
      display: flex;
      justify-content: space-between;
    }

    .date-input {
      width: 48%;
    }

    button[type="submit"] {
      background-color: #6a4cf8;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: auto;
    }

    .header-container {
      /* position: fixed; */    
      /* top: 0;
      left: 0; */
      width: 100%;
      /* background-color: #DCCDF3; */
      text-align: center;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .header-container h1 {
      font-size: clamp(1.5rem, 2.5vw, 2rem);
      margin: 0;
      color: #6C63FF;
    }
